<ul data-role="listview">
  <% 0.upto(@subhash.length-1) do |i| %>
    <li>
      <a href='<%= @subhash[i]["data"]["url"] %>'>
        <img src='<%= @subhash[i]["data"]["thumbnail"] %>'>
        <%= @subhash[i]["data"]["title"] %>
      </a>
      <span class="ui-li-count"><%= @subhash[i]["data"]["score"] %></span>
    </li>
  <% end %>

</ul>
